<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HttpTimeout</key>
	<string>10000</string>
	<key>HttpServerUrl</key>
	<string>http://192.168.1.223:7001/ydmobile/service/yundasoa</string>
</dict>
</plist>
